div {
  background-color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  background-color: #153e52;
  background-color: #113448;
  background-color: #fbfbfb;
  background-color: #f1f4f7;
  background-color: #2a5d77;
  background-color: #f9fafc;
  background-color: #b5bcc4;
  color: #484a46;
  color: #787976;
  color: #14bf98;
  color: #ffffff;
  color: #f2f2f2;
  color: #7b7e85;
  color: #dfe5ec;
  color: #b93636;
  border: 1px solid #39728f;
}
